/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
*/

body {
  background : #333;
}

.header {
  background : #fff;
}

.header .navbar {
  margin-bottom: 0;
}

.content {
  padding : 20px;
  background : #fff;
}

.container.login {
  margin-top: 2em;
}

.footer {
  padding : 20px;
  color   : #ddd;

  a {
    color: #c00;
  }
}

#portalcontent {
   padding : 20px 0;
}

.btn.auth {
  width: 100%;

  &.facebook {
    background: #3b5998;
    color: #fff;
  }

  .fa {
    margin-right: 0.5em;
  }
}
