/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
*/
/* line 7, ../../sass/screen.scss */
body {
  background: #333;
}

/* line 11, ../../sass/screen.scss */
.header {
  background: #fff;
}

/* line 15, ../../sass/screen.scss */
.header .navbar {
  margin-bottom: 0;
}

/* line 19, ../../sass/screen.scss */
.content {
  padding: 20px;
  background: #fff;
}

/* line 24, ../../sass/screen.scss */
.container.login {
  margin-top: 2em;
}

/* line 28, ../../sass/screen.scss */
.footer {
  padding: 20px;
  color: #ddd;
}
/* line 32, ../../sass/screen.scss */
.footer a {
  color: #c00;
}

/* line 37, ../../sass/screen.scss */
#portalcontent {
  padding: 20px 0;
}

/* line 41, ../../sass/screen.scss */
.btn.auth {
  width: 100%;
}
/* line 44, ../../sass/screen.scss */
.btn.auth.facebook {
  background: #3b5998;
  color: #fff;
}
/* line 49, ../../sass/screen.scss */
.btn.auth .fa {
  margin-right: 0.5em;
}
